#jinja2:variable_start_string:'@=', variable_end_string:'=@', block_start_string:'@@', block_end_string:'@@', comment_start_string:'@#', comment_end_string:'#@'
# @= ansible_managed =@

# Basic locations
export DOWNLOAD_DIR=$HOME/downloads
export BUILD_DIR=$HOME/buildbed
export TOOL_DIR=$HOME/tools
export PROJ_DIR=/nfs/Auto-PyTorch
