#jinja2:variable_start_string:'@=', variable_end_string:'=@', block_start_string:'@@', block_end_string:'@@', comment_start_string:'@#', comment_end_string:'#@'
# @= ansible_managed =@

# XDG Stuff
export XDG_CONFIG_HOME=@= xdg_config_home | replace('~', '$HOME') =@
export XDG_DATA_HOME=@= xdg_data_home | replace('~', '$HOME') =@
export XDG_CACHE_HOME=@= xdg_cache_home | replace('~', '$HOME') =@
export XDG_STATE_HOME=@= xdg_state_home | replace('~', '$HOME') =@

# Basic preference
export EDITOR=vim
