#jinja2:variable_start_string:'@=', variable_end_string:'=@', block_start_string:'@@', block_end_string:'@@', comment_start_string:'@#', comment_end_string:'#@'
# @= ansible_managed =@

# Append scripts folder to path
if [ -d @= playbook_dir =@/roles/dotfiles/files/scripts ]; then
    uappend path "@= playbook_dir =@/roles/dotfiles/files/scripts"
fi
