#jinja2:variable_start_string:'@=', variable_end_string:'=@', block_start_string:'@@', block_end_string:'@@', comment_start_string:'@#', comment_end_string:'#@'
# @= ansible_managed =@

# SSH-agent is managed by systemd --user scope
SSH_AUTH_SOCK=$XDG_RUNTIME_DIR/ssh-agent.socket
