#jinja2:variable_start_string:'@=', variable_end_string:'=@', block_start_string:'@@', block_end_string:'@@', comment_start_string:'@#', comment_end_string:'#@'
# @= ansible_managed =@

# Rust language
() {
    local cargo_bin=${CARGO_HOME:-$HOME/.cargo}/bin
    if [ -d $cargo_bin ]; then
        uappend path $cargo_bin
    fi
}
