#jinja2:variable_start_string:'@=', variable_end_string:'=@', block_start_string:'@@', block_end_string:'@@', comment_start_string:'@#', comment_end_string:'#@'
# @= ansible_managed =@

# This speeds up pasting w/ autosuggest
pasteinit() {
  zle autosuggest-disable
}

pastefinish() {
  zle autosuggest-enable
}
zstyle :bracketed-paste-magic paste-init pasteinit
zstyle :bracketed-paste-magic paste-finish pastefinish
