[Unit]
Description=Monitor and reapply ansible playbook at %f

[Service]
Type=exec
ExecStart=/usr/local/bin/pathwatch "%f" make -C "%f" playbook
Restart=always

Environment=ANSIBLE_INVENTORY_CACHE_CONNECTION=/var/cache/ansible/inventory
Environment=ANSIBLE_CACHE_PLUGIN_CONNECTION=/var/cache/ansible/facts

[Install]
WantedBy=multi-user.target
