#jinja2:variable_start_string:'@=', variable_end_string:'=@', block_start_string:'@@', block_end_string:'@@', comment_start_string:'@#', comment_end_string:'#@'
# @= ansible_managed =@

# Make sure everything is read from $XDG_CONFIG_HOME
export ZDOTDIR=${XDG_CONFIG_HOME:-$HOME/.config}/zsh

# Include anything in env.d
# (*) is the glob qualifier for executable file
# see http://zsh.sourceforge.net/Doc/Release/Expansion.html#Glob-Qualifiers
if [ -d "$ZDOTDIR/env.d" ]; then
    for i in $ZDOTDIR/env.d/*.zsh(.); do
        source "$i"
    done
fi
